<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contactanos</title>

    
    <!--link de googlefonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Oswald&family=Roboto&display=swap" rel="stylesheet">
 
     <!--iconos-->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
 
     <!--mi css-->
     <link rel="stylesheet" href="../css/estilos.css">
    </head>

     

<body>
     <!--------------inicio del header--------------->
     <header>
        <div class="cabezera">
            <nav>
                <ul>
                    <li><a href="./precio.html">PRECIO</a></li>
                    <li><a href="./quienSoy.html">QUIENSOY</a></li>
                    <li><a href="../index.html">INICIO</a></li>
                </ul>
            </nav>
     
            <a href="../index.html"><h3>Nefer_Ruth</h3></a>
        </div>
       

    </header>
     <!----------------fin del header---------------->

     
     <!---------------inicio del main--------------->

     <main class="contactanos">

        <form class="formulario">
            <div class="formulario_container">
                <h2 class="titulo_formulario">CONTACTAME</h2>
                <input type="text" class="" placeholder="NOMBRE: " >
                <input type="text" class="" placeholder="EMAIL">
                <textarea class="texto" placeholder="MENSAJE: "></textarea>
                <input type="submit" value="ENVIAR" class="envio">
            </div>
        </form>

     </main>

    <!--------------inicio del footer---------------->
    <footer>
        <div class="pie_pagina">

          <div class="pie_pagina__1">
               <ul>
                   <li><a href="#">Legal warning</a></li>
                   <li><a href="#">Privacy policy</a></li>
                   <li><a href="#">Cookies policy</a></li>
                   <li><a href="#">Quality policy</a></li>
               </ul>
          </div>

    <!-------------------------------------------------------------->      

          <div class="pie_pagina__2">

            <a class="ruth" href="#"><h3>Nefer_Ruth</h3></a>

            <div class="red-social">
                <a href="#" class="facebook"><i class="fab fa-facebook-square"></i></a>
                <a href="#" class="instagram"><i class="fab fa-instagram"></i></a>
                <a href="#" class="correo"><i class="fas fa-at"></i></a>
            </div>

          </div>
<!------------------------------------------------------------------>

          <div class="pie_pagina__3">

            <ul>
                <li><a href="#">BLOG</a></li>
                <li><a href="#">CONTACTO</a></li>
                <li><a href="#">FAQs</a></li>
            </ul>

          </div>
         
        </div>
    </footer>
    <!--------------fin del footer----------------->

</body>
</html>