<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PRECIO</title>

    <!--link de googlefonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Oswald&family=Roboto&display=swap" rel="stylesheet">
 
     <!--iconos-->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
 
     <!--mi css-->
     <link rel="stylesheet" href="../css/estilos.css">
    </head>     

      
<body>

    <!--------------inicio del header--------------->
    <header>
        <div class="cabezera">
            <nav>
                <ul>
                    <li><a href="./precio.html">PRECIO</a></li>
                    <li><a href="./quienSoy.html">QUIENSOY</a></li>
                    <li><a href="../index.html">INICIO</a></li>
                </ul>
            </nav>
     
            <a href="../index.html"><h3>Nefer_Ruth</h3></a>
        </div>
       

    </header>
     <!----------------fin del header---------------->
     

       <!-----------------------main----------------------------------->

    <main class="principal__precio">
        <div class="precio">
            <div class="tabla tabla1">
                <h2>Basico</h2>
                <img src="/root/assets/1.png" alt="">
                <h3>100 <sup>$</sup></h3>
                <p>duracion de una hora la sesion <b>*recomendado para eventos pequeños-personales</b></p>
                <a href="#" class="boton">separar sesion</a>
            </div>
            <div class="tabla tabla2">
                <h2>Standar</h2>
                <img src="/root/assets/2.png" alt="">
                <h3>200 <sup>$</sup></h3>
                <p>duracion de tres horas la sesion <b>*recomendado para eventos sociales-graduaciones </b></p>
                <a href="#" class="boton">separar sesion</a>
            </div>
            <div class="tabla tabla3">
                <h2>Premium</h2>
                <img src="/root/assets/3.png" alt="">
                <h3>250 <sup>$</sup></h3>
                <p>duracion  lo que dure todo el evento y un entrega de libro con las fotos eligidas por el cliente <b>*recomendado para matrimonios</b></p>
                <a href="#" class="boton">separar sesion</a>
            </div>
        </div>
      </main>
      
      <!------------------------fin del main---------------------------->
      


      <!--------------inicio del footer---------------->
    <footer>
        <div class="pie_pagina">

          <div class="pie_pagina__1">
               <ul>
                   <li><a href="#">Legal warning</a></li>
                   <li><a href="#">Privacy policy</a></li>
                   <li><a href="#">Cookies policy</a></li>
                   <li><a href="#">Quality policy</a></li>
               </ul>
          </div>

    <!-------------------------------------------------------------->      

          <div class="pie_pagina__2">

            <a class="ruth" href="#"><h3>Nefer_Ruth</h3></a>

            <div class="red-social">
                <a href="#" class="facebook"><i class="fab fa-facebook-square"></i></a>
                <a href="#" class="instagram"><i class="fab fa-instagram"></i></a>
                <a href="#" class="correo"><i class="fas fa-at"></i></a>
            </div>

          </div>
<!------------------------------------------------------------------>

          <div class="pie_pagina__3">

            <ul>
                <li><a href="#">BLOG</a></li>
                <li><a href="#">CONTACTO</a></li>
                <li><a href="#">FAQs</a></li>
            </ul>

          </div>
         
        </div>
    </footer>
    <!--------------fin del footer----------------->

    
</body>
</html>