<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>quien soy</title>

     <!--link de googlefonts-->
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Oswald&family=Roboto&display=swap" rel="stylesheet">
 
     <!--iconos-->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
 
     <!--mi css-->
     <link rel="stylesheet" href="../css/estilos.css">

     
</head>
<body>
     <!--------------inicio del header--------------->
    <header>
        <div class="cabezera">
            <nav>
                <ul>
                    <li><a href="./precio.html">PRECIO</a></li>
                    <li><a href="./contactanos.html">CONTACTANOS</a></li>
                    <li><a href="../index.html">INICIO</a></li>
                </ul>
            </nav>
     
            <a href="../index.html"><h3>Nefer_Ruth</h3></a>
        </div>
       

    </header>
     <!----------------fin del header---------------->



      <!---------------inicio del main--------------->
      <main>
          <div class="contenedor_fotografo">
               <div class="contendor_fotografo__imagen">
                   <img src="/root/assets/fotografo.jpg" alt="">
               </div>
               <div class="contenedor_informacion">
                   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores et saepe culpa, ipsa, ut blanditiis animi sapiente eveniet officia numquam esse nobis! Dolore numquam distinctio suscipit vero. Nam, eaque numquam?
                   Placeat soluta at, eveniet alias voluptates iure deleniti libero! Exercitationem deleniti laudantium autem eos quis consequatur, omnis reiciendis voluptates dolor, minima, totam sunt cupiditate atque maiores impedit iusto eveniet odio?
                   Ullam sed beatae eius alias! Repellendus natus doloremque sapiente voluptatum alias tenetur magnam iure vel impedit eveniet. Saepe, aperiam! Unde est reiciendis beatae esse minima porro maxime expedita voluptas ullam.
                   Similique sed ipsam velit aliquid voluptas accusamus perspiciatis reprehenderit nihil eligendi voluptatibus quos cum nesciunt voluptate, ad itaque quam placeat suscipit neque. Sint quia libero reiciendis provident veritatis maiores molestias?</p>
                   <a href="#">ir a mi instagram</a>
               </div>
          </div>
      </main>

       <!--------------inicio del footer---------------->
    <footer>
        <div class="pie_pagina">

          <div class="pie_pagina__1">
               <ul>
                   <li><a href="#">Legal warning</a></li>
                   <li><a href="#">Privacy policy</a></li>
                   <li><a href="#">Cookies policy</a></li>
                   <li><a href="#">Quality policy</a></li>
               </ul>
          </div>

    <!-------------------------------------------------------------->      

          <div class="pie_pagina__2">

            <a class="ruth" href="/root/index.html"><h3>Nefer_Ruth</h3></a>

            <div class="red-social">
                <a href="#" class="facebook"><i class="fab fa-facebook-square"></i></a>
                <a href="#" class="instagram"><i class="fab fa-instagram"></i></a>
                <a href="#" class="correo"><i class="fas fa-at"></i></a>
            </div>

          </div>
<!------------------------------------------------------------------>

          <div class="pie_pagina__3">

            <ul>
                <li><a href="#">BLOG</a></li>
                <li><a href="#">CONTACTO</a></li>
                <li><a href="#">FAQs</a></li>
            </ul>

          </div>
         
        </div>
    </footer>
    <!--------------fin del footer----------------->
    
</body>
</html>